# Copy this file to .env and fill in your values for local development.
# EXAMPLE .ENV

# Server Runtime
ENV_MODE=development
PORT=8080            # The port your Go app listens on INSIDE the container
HOST_PORT=8080       # The port you type into your browser (http://localhost:8080)

# Database Target Configuration
DB_HOST=postgres     # Tells Go to look for the Docker service named 'postgres'
DB_PORT=5432         # Internal port for Postgres inside the Docker network
DB_OUTSIDE_PORT=5432 # Exposes Postgres to your laptop so DBeaver can still connect
DB_SSLMODE=disable   # SSL mode for the database connection

# Database Credentials
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=football_league
